
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300,100);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

/* Img de fondo para Home */
.tigre {
	background-image: url(../images/slider/bg1.jpg);
	background-position: center;
	background-size: 120%;
	padding-top: 9%;
}
.tiger{
	padding-top: 15%;
	padding-bottom: 15%;
}
/* Menu responsivo */
.navbar-responsivo .navbar-toggle {
	margin-top: 4%;
	border: 2px solid rgb(44, 62, 80);
	color:  #ddd;
}
.navbar-responsivo .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-responsivo .navbar-toggle:hover,
.navbar-responsivo .navbar-toggle:focus {
  background-color: #0F2D4A;
}

/* Nav Footer */
.nav-footer a:hover {
	color: white;
	background-color: rgb(52, 73, 94);
}
.sectone{
	padding-top: 1%;
	padding-bottom: 2%;
}

.sectwo{
	padding-top: 1%;
	padding-bottom: 2%;
	padding-left: 3%;
}

.icone{
	padding-top: 2%;
}
.breadcrumb {
	background-color: transparent;
	margin-right: 0;
}
.mapa {
	min-height: 200px;
	max-width: 95%;
}
.fa-2x {
	margin-top: 57px;
	margin-left: 24px;
}
.linked {
	margin-right: 100px;
	text-decoration: none;
	color: white;
}
.sectone1 {
	padding-top: 3%;
}
.social [class*="fa fa-"] {
    background-color: #333;
    border-radius: 30px;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: auto 3px;
    width: 30px;
    font-size: 15px;
    text-align: center;
}
.info{
	padding-top: 5%;
}
.meet-team{
	padding-top: 5%;
}
.what,, article p {
	padding-top: 3%;
}
.aboutus {
    padding-top: 0%;
    padding-bottom: 8%;
}
.portafolio{
	padding-left: 10px;
	padding-top: 80px;
}
.bord{
	border-left: 4px solid #fff;
	padding-left: 1%;
	padding-bottom: 3%;
}
.bordone{
	border-left: 4px solid rgb(187, 192, 196);;
	padding-left: 1%;
	padding-bottom: 3%;
}
.ico-blog {
	font-size: 0.8em;
}
.ico-blog span {
	margin: 0 1%;
}
.img-blog, .w-100 {
	width: 100%;
}

/* Utilidades */
.text-blue { /* color de letra usada en el section */
	color: rgb(52, 73, 94);
}
.text-white { /* para letra en hover del nav */
	color: white;
}
.text-gray { /* texto grisáceo del nav */
	color: rgb(187, 192, 196);
}
.font-size-08 {
	font-size: 0.8em;
}
.font-100 {
	font-weight: 100;
}
.bg-blue { /* Color de fondo header y footer */
	background: rgb(52, 73, 94);
}
.bg-blue-2 { /* color de fondo para hover del nav y final del footer */
	background: rgb(44, 62, 80);
}
.bg-green-lima {
	background: rgb(46, 204, 113); /* Verde claro del section */
}
.bg-green {
	background: rgb(28, 122, 68); /* Verde oscuro de las RRSS*/
}
.bg-coral { 
	background: rgb(231, 76, 60); /* Fondo coral para section */
}
.bg-gray {
	background: rgb(147, 147, 147); /* Color de fondo para RRSS */
}
.bg-gray2 {
	background: rgb(245, 245, 245);
}
.bg-white {
	background: white;
}
/* colores de fondo para las redes sociales*/
.bg-fb { /* Facebook */
	background: rgb(79, 125, 212);
}
.bg-tw { /* Twitter */
	background: rgb(91, 206, 255);
} 
.bg-gl { /* Google+ */
	background: rgb(220, 66, 43);
}
.bg-lin { /* Linked In */
	background: rgb(33, 166, 216);
}
.pd-2 {
	padding: 2%;
}
.pt-pb-5 {
	padding: 5% 0;
}
.pt-pb-40 {
	padding: 40% 0;
}
.pt-pb-15px {
	padding: 15px 0;
}
.pt-15px {
	padding-top: 15px;
}
.pl-0 {
	padding-left: 0;
}
.pl-2 {
	padding-left: 2%;
}
.pl-4 {
	padding-left: 8%;
}
.mt-2 {
	margin-top: 2%;
}
.mg-0 {
	margin: 0 auto;
}
.list-style-no {
	list-style: none;
}

@media (max-width: 750px) {
	.tigre {
	background-image: url(../images/slider/bg1.jpg);
	background-position: center;
	background-size: 300%;
	padding: 28% 0;
	}
}